
<head data-tpl="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%=title %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="/src/libraries/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/src/libraries/css/highlight.min.css" />
	<link rel="stylesheet" href="/src/libraries/css/json-formatter-js.min.css" />
	<link rel="stylesheet" href="/src/app/css/styles.css" />
</head>
