<ul class="nav nav-pills nav-stacked" data-tpl="menu">
	<% for(var i=0; i<apiData.length; i++) { %>
		<% var group = apiData[i]; %>
		<li>
			<a href="#_<%= group.name%>">
				/<%= group.name %>
			</a>
		</li>
	<% } %>
</ul>
