<div data-toggle="modal" data-target="#_<%=service.id%>_<%=method.id%>" class="list-group-item" data-tpl="method-panel">
	<% include method-badge %>
	<div class="method_description">
		<p><%=method.desc.desc%></p>
	</div>
	<div class="clearfix"></div>
</div>