<div class="modal fade" tabindex="0" id="_modal_swagger_import" data-tpl="swagger-import-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title">
					Swagger Import
				</h4>
			</div>
			<div class="modal-body">
				<p>&nbsp;</p>
				<p class="js-swagger-import-outlet text-center">
					<button class="js-swagger-import-run btn btn-lg btn-primary">Run Import</button>
				</p>
				<table class="table table-condensed">
					<tbody class="js-swagger-import-outlet-result">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
