<div class="modal fade" tabindex="0" id="_modal_validate_single" data-tpl="validate-single-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                	×
                </button>
				<h4 class="modal-title">
					Validate
				</h4>
			</div>
			<div class="modal-body">
				<p>&nbsp;</p>
				<p class="js-outlet text-center">

                </p>
                <p>&nbsp;</p>
				<table class="table table-condensed">
					<tbody class="js-outlet-result">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>