<div class="modal fade" tabindex="0" id="_modal_validate_result" data-tpl="validate-modal-result">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title">
					Validation Result
				</h4>
			</div>
			<div class="modal-body">
				<table class="table table-condensed">
					<tbody class="js-outlet-result">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
