<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
	<!-- 全局setting配置，根据需要添加 -->
	<settings>
		<setting name="defaultStatementTimeout" value="25000"/>  
		<setting name="cacheEnabled" value="true"/>  
		<setting name="lazyLoadingEnabled" value="true"/>  
		<setting name="multipleResultSetsEnabled" value="true"/>  
		<setting name="useColumnLabel" value="true"/>  
		<setting name="useGeneratedKeys" value="true"/>  
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<!-- 开启驼峰命名转换 Table:create_tiem到Entity(createTime)-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- 配置别名 -->
	<typeAliases>
		<!-- 批量扫描别名 -->
		<package name="com.jietu.admin.entity.system"/>
		<package name="com.jietu.common.entity.customer"/>
		<package name="com.jietu.common.entity.order"/>
		<package name="com.jietu.common.entity.goods"/>
		<package name="com.jietu.common.entity.merchant"/>
		<package name="com.jietu.common.entity.system"/>
	</typeAliases>

</configuration>